#root {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

#instructions{
    text-align: center;
}

#sigmaContainer{
    margin: 2.5%;
    border: solid 5px yellow;
    width: 75vw; 
    height: 60vh;
}






