#root {
    background-color: #0B0C10;
    min-height: 100vh;
    color: #C5C6C7;
  }

#instructions{
    text-align: center;
    float: left;
    margin-left: 20%;
}

#sigmaContainer{
    margin-top: 2.5%;
    border: solid 5px #45A29E;
    width: 100%; 
    height: 60vh;
}

#page{
}

#container{
    float:left;
    width: 80%;
}

#listView{
    width:20%;
    position: absolute;
    right: 0%;
    background-color: #1F2833;
    border-left: solid 5px #45A29E;
    height: 100%;
    color: #66FCF1;
    text-align: center;
}

#currentPath{
    text-align: center;
}







